<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'analytic/styles.css' %}">
</head>
<body>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <input type="file" name="file" id="file">
    <input type="submit" name="submit">

    </form>
{% for object in datas %}
    <ul>
       <li>
      {{ object }}---{{ object.price }}-----{{ object.rent }}----{{ object.emi }}----{{ object.exp }}-----{{ object.expenses_monthly }} ==== {{ object.income_monthly }}
           </li>
    </ul>
{% endfor %}

</body>
</html>